@charset "UTF-8";
#header{
		width: 100%;
		height: 70px;
		background: yellow;
}
	
	#header li{
		float: left;
		margin-left: 20px;
		padding-right: 20px;
}
	
	#left{
		width: 29%;
		height: 650px;
		background: green;
		float: left;
}
	
	#content{
		width: 70%;
		height: 650px;
		float: right;
}
	
	#footer{
		width: 100%;
		height: 70px;
		background: silver;
		float: left;
}